
#optionBtns
{
  padding-top: 10px;
  margin-left: 800px;
}
#VideoScreenBorder
{
  width: 1000px;
  height: 600px;
}
#videoScreen
{
  border: 5px solid black;
  width: 1000px;
  height: 600px;
  margin-left: 450px;
}
#videoSelectBtn
{
  margin-left: 450px;
}
